<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>
    <%= htmlWebpackPlugin.options.title || 'Presentation Title'%>
  </title>
  <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%=htmlWebpackPlugin.files.favicon%>">
    <% } %>


      <link rel="stylesheet" href="css/reveal.css">
      <!--link rel="stylesheet" href="css/theme/kpmg.css" id="theme"-->

      <!-- Theme used for syntax highlighting of code -->
      <link rel="stylesheet" href="lib/css/zenburn.css">

      <!-- Printing and PDF exports -->
      <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
      </script>
</head>

<body>

  <div class="reveal">
    <div class="slides">
      <section>
        <h1>Comment fait on de l'IT dans un BIG 4</h1>
        <small>en 2018, avec des technos à la pointe</small>
      </section>
      <section>
        <section data-background-image="http://unsplash.com/photos/qaoNLVMb4lw/download?force=true">
          <h1>Qu'est ce qu'un Big 4</h1>
        </section>
        <section>
          <p></p>
        </section>
      </section>
      <section data-markdown="./app/1-asis.md"
               data-separator="^\n\n\n"
               data-separator-vertical="^\n\n"
               data-separator-notes="^Note:"
               data-charset="utf-8">
      </section>
      <section>
        <section>
          <h1>L'Objectif</h1>
        </section>
        <section>
          <h1>L'Objectif - Architecture</h1>
        </section>
        <section>
          <h1>L'Objectif - Methodologie</h1>
        </section>
        <section>
          <h1>L'Objectif - Technologies</h1>
        </section>
      </section>
      <section>
        <section>
          <h1>Les Contraintes</h1>
        </section>
        <section>
          <h1>Les Contraintes - Architecture</h1>
        </section>
        <section>
          <h1>Les Contraintes - Methodologie</h1>
        </section>
        <section>
          <h1>Les Contraintes - Technologies</h1>
        </section>
      </section>

      <section>
        <h2>Multi column list</h2>
        <ul style="columns:2;">
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li style="margin-left:30px">Lorem ipsum dolor sit amet.</li>
          <li style="margin-left:30px">Lorem ipsum dolor sit amet.</li>
          <li style="margin-left:30px">Lorem ipsum dolor sit amet.</li>
          <li style="margin-left:30px">Lorem ipsum dolor sit amet.</li>
          <li style="margin-left:30px">Lorem ipsum dolor sit amet.</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, beatae culpa quasi aspernatur repudiandae optio.</p>
        <aside class="notes">
          capture attribute on file input specify you want image / video capture instead of file picker.
        </aside>
      </section>
      <section>
        <h2>Import image</h2>
        <img src=<%=require( './img_demo.jpg' )%> />
        <aside class="notes">
          Images will be copy automatically in images folder during the build phase
        </aside>
      </section>
      <section>
        <h1>Thank you</h1>
      </section>
    </div>
  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>
  <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="<%=htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>
