<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>
    <%= htmlWebpackPlugin.options.title || 'Presentation Title'%>
  </title>
  <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%=htmlWebpackPlugin.files.favicon%>">
    <% } %>


      <link rel="stylesheet" href="css/reveal.css">
      <!--link rel="stylesheet" href="css/theme/kpmg.css" id="theme"-->

      <!-- Theme used for syntax highlighting of code -->
      <link rel="stylesheet" href="lib/css/zenburn.css">

      <!-- Printing and PDF exports -->
      <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
      </script>
</head>

<body>

  <div class="reveal">
    <div class="slides">
      <section data-background-image=<%=require( 'carlos-muza-84523.jpg' )%>>
        <h1>Comment fait on de l'IT dans un BIG 4</h1>
        <small>en 2018, avec des technos à la pointe</small>
      </section>
      <section>
        <section data-background-image=<%=require( 'sean-pollock-203658.jpg' )%>>
          <h1>Qu'est ce qu'un Big 4</h1>
        </section>
        <section>
          <img src=<%=require( './big4.png' )%> alt="">
        </section>
        <section>
          <ul>
            <li>Un des 4 plus grand groupe d'audit financier au niveau mondial: Deloitte, EY, KPMG, PWC.</li>
            <li class="fragment">Historiquement sur une activité d'audit, de taxe & de consulting</li>
            <li class="fragment">Se tournent tous sur le développement de leur branche consulting</li>
            <li class="fragment">Peinent à se réinventer sur le plan Technologique</li>
          </ul>
        </section>
        <section>
          <h2>Quelles approches pour les Big4 & l'IT ?</h2>
          <ul>
            <li class="fragment">Aquisition de Startups</li>
            <li class="fragment">Monter une équipe interne, la faire prospérer, ...</li>
            <li class="fragment">Externaliser tout ou partie dans une SSII</li>
            <li class="fragment">Ne pas en faire</li>
          </ul>
          <aside class="notes">KPMG a choisis la 2<sup>nd</sup> option.</aside>
        </section>
        <section>
          <h1>KPMG Luxembourg</h1>
          <ul>
            <li>1677 employés : 41% 🚺 - 🚹 59%</li>
            <li class="fragment">🎖 432 promotions</li>
            <li class="fragment">👨‍🎓 522 diplomés & stagiaires sur 2017</li>
            <li class="fragment">🌍 60 nationalités</li>
          </ul>
        </section>
        <section>
          <h2>Nos équipes</h2>
          <ul>
            <li>💬 parlent courrament anglais, français & allemand</li>
            <li class="fragment">🙂 attitude positive et élément fort</li>
            <li class="fragment">📱 Bonne communication & organisation</li>
            <li class="fragment">⭐️ Organisés en départements - ligne de service</li>
          </ul>
        </section>
        <section>
          <h2>Notre équipe IT</h2>
          <ul style="columns:2;">
            <li>2 UX/UI</li>
            <li class="fragment">2 DevOps</li>
            <li class="fragment">2 data scientist</li>
            <li class="fragment" style="margin-left:30px">15 dev (front, back, full-stack)</li>
            <li class="fragment" style="margin-left:30px">3 architectes / lead-dev</li>
          </ul>
        </section>
      </section>
      <section data-markdown="./app/1-asis.md" data-separator="^\n\n\n" data-separator-vertical="^\n\n" data-separator-notes="^Note:" data-charset="utf-8">
      </section>
      <section data-markdown="./app/2-tobe.md" data-separator="^\n\n\n" data-separator-vertical="^\n\n" data-separator-notes="^Note:" data-charset="utf-8">
      </section>
      <section data-markdown="./app/3-constraints.md" data-separator="^\n\n\n" data-separator-vertical="^\n\n" data-separator-notes="^Note:" data-charset="utf-8">
      </section>
      <section data-markdown="./app/4-howwedidit.md" data-separator="^\n\n\n" data-separator-vertical="^\n\n" data-separator-notes="^Note:" data-charset="utf-8">
      </section>
      <section>
        <section>
          <h1>Notre plan d'action</h1>
        </section>
        <section>
          <h1>L'architecture</h1>
        </section>
        <section>
          <h1>Les méthodes</h1>
        </section>
        <section>
          <h1>Les technologies</h1>
        </section>
      </section>
      <section>
        <h2>Aujourd'hui</h2>
        <ul>
          <li>±20 personnes dans l'équipe, projets de 4 mois à 2 ans, SCALA, ReactJS</li>
          <li class="fragment">Axe de recherche : IOS Natif, machine learning, agent conversationel, <a href="https://fundsdlt.net/" title="check out our blockchain project">blockchain</a>, ...</li>
          <li class="fragment">Projet de transformation IT afin de mutualiser DevOps, UX/UI, Test & QA, Data Managment sur les différentes équipes de dev. </li>
          <li class="fragment">Evolution de notre stack ReactJS vers Typescript, Redux, RxJS, React Semantic UI, ...</li>
        </ul>
      </section>
      <section>
        <h2>Demain</h2>
        <ul>
          <li>XX postes ouverts dans l'IT chez <a href="http://kpmg.lu/careers/" title="Voir notre site recrutement">kpmg.lu/careers</a></li>
          <li class="fragment">Nouveaux postes spécifiques liés au Big Data, ETL, UX/UI, DevOps, Test&QA</li>
          <li class="fragment">Volontée forte de la firme de renforcer le numérique comme 5e pillier de l'activité</li>
          <li class="fragment">Evolution de notre stack infra vers Rancher V2, Kubernetes, ...</li>
      </section>
      <section data-background-image=<%=require( 'jon-tyson-228429.jpg' )%>>
        <h1>Thank you</h1>
      </section>
    </div>
  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>
  <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="<%=htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>
